# File extensions to ignore
*.exe
*.txt

# Directories to be ignored
assessments/
weekly-exercises/week-1/
weekly-exercises/week-2/
weekly-exercises/week-3/
weekly-exercises/week-4/
weekly-exercises/week-5/
weekly-exercises/week-6/
.vscode/